@using Backpack.Site.Areas.Northwind.Controllers
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        &nbsp;
    </div>

    <div class="row  well well-lg">
        <div class="col-lg-2">
            <img src="~/Content/img/backpack.png" width="101" height="130" class="image" />
        </div>

        <div class="col-lg-10">
            <h3>Welcome to Dev Backpack</h3>

            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://fakeimg.pl/250x250/" alt="...">
                <div class="caption">
                    <h3>Northwind Samples</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p>
                        @Html.ActionLink("View", "Index",
                        new RouteValueDictionary { { "controller", "shop" }, { "area", "northwind" } },
                        new Dictionary<string, object> { {"class","btn btn-primary"} })
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://fakeimg.pl/250x250/" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://fakeimg.pl/250x250/" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
